header{
    width: 90%;
    background: black;
    height: 8%;
    justify-content: space-between;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    position: fixed;
    top: 0%;
}
header h1{
    color: aliceblue;
}
header ul{
    list-style-type: none;
    display: inline-flex;
}
header li{
    padding-top: 13px;
    padding-left: 12px;
    padding-right: 12px;
    
}
header li a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding-top: 13px;
    font-family: "COUTUREBold";
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    
}

  

header ul li a:hover {
    border-bottom: 2px solid #c5793f;
    font-size: 1.5rem;
    padding-top: 13px;
    
  }

