header {
    width: 100vw;
    background: black;
    height: 8%;
    justify-content: space-between;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    margin-top: 0;
    position: fixed;
    top: 0%;
    z-index: 1000;
}

header h1 {
    color: white;
}

header ul {
    list-style-type: none;
    display: inline-flex;
}

header li {
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;

}

header li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    margin-left: 10px;

}

header ul li a:hover {
    border-bottom: 2px solid #c5793f;

    padding-top: 5px;

}

i span{
    font-size: 1.6rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.icon{
    padding-top: 5px;
}
