.background-img{
    background-image: url('../../assets/bg2.webp');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2000px;
    height: 1130px;
}

.background-img h1{
    color: #ffff;
    font-size: 3.8rem;
    padding-top: 35%;
    font-weight: 900;
    text-align: center;
    font-family: fantasy;
}
    
.background-img .text{
    align-items: right;
    position: -webkit-sticky;
    float: right;
    padding-right: 20%;
}

.background-img p{
    font-size: 1.5rem;
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'COUTUREBold';
    font-weight: 500rem;
    letter-spacing: 1px;
}
.text button{
    width: 50%;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'COUTUREBold';
    background-color: black;
    border-color: bisque;
    border-radius: 32px;
    margin-top: 4%;
    float: right;
    margin-right: 24%;
    padding: 2%;
    
}
.text a{
    text-decoration: none;
    color: antiquewhite;
    width: 50%;
}
.text button:hover{
    background: linear-gradient(to top,black,#e29457);
    
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}