.background-img{
    /* background-image: url('../../assets/bg2.webp');
    background-size: contain;
    background-repeat: no-repeat; */
    width: 100%;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.335);
}
.text{
    position: relative;
    max-width: 50%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

  }
.background-img h1{
    color: #ffff;
    font-size: 3.5rem;
    padding-top: 40%;
    font-weight: 500;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
    
.background-img .text{
    align-items: center;
    position: fixed;
    padding-right: 10%;
    text-align: center;
    left: 30%;
    text-shadow: 2px 4px 5px black;
}

.background-img p{
    font-size: 1.3rem;
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'COUTUREBold';
    font-weight: 300rem;
    letter-spacing: 1px;
}
.text button{
    width: 50%;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'COUTUREBold';
    background-color: black;
    border-color: bisque;
    border-radius: 32px;
    margin-top: 4%;
    float: right;
    padding: 2%;
    box-shadow: 4px 5px 5px black;
    
}
.text a{
    text-decoration: none;
    color: white;
    width: 40%;
    
}
.text button:hover{
    background: linear-gradient(to top,black,#e29457);
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}